<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link href={{style}} rel="stylesheet">
        <title> Home </title>
    </head>
    <body>
        <div>
            <h1 class="heading"> Basic Demo </h1>
            <p class="text"> This is only supposed to be a very simple demo, and is in no way reflective of what the final product will look like. </p>
            <p class="text"> We may not even use Flask's templating, if we plan on using a JS framework. </p>
        </div>
        <hr>
        <div>
            <p class="text"> Currently, our backend has three routes: </p>
            <ul>
                <li>
                    /
                </li>
                <li>
                    /home
                </li>
                <li>
                    Anything else (for example, /somethingelse).
                </li>
            </ul>

            <p class="text"> You can access those other pages from the search bar below. </p>

            <form id='form' method="get" action="/">
                <input placeholder="Search for any page..." id='input' name="pageName"></input>
            </form>
        </div>
        <script>
            document.getElementById('form').addEventListener('submit', (e) => {
                e.preventDefault();
                window.location.href = '/' + document.getElementById('input').value;
            });
        </script>
    </body>
</html>